/*Media*/


@media screen and (max-width: 1400px) {
    .main-offer__left img, .main-offer__right img{
        max-width: 60%;
        height: auto;
    }
}
@media screen and (max-width: 1200px) {

}



@media screen and (max-width: 992px){

}



@media screen and (max-width: 768px){
    .section-title{
        font-size: 24px;
    }
    .advantage-title h3{
        font-size: 16px;
    }
    .advantage-text{
        font-size: 14px;
    }
    .advantages-wrap{
        background: #fafafa;
    }
    .btn{
        font-size: 18px;
    }
}



@media screen and (max-width: 480px){

}
